<!--<app-liste-client></app-liste-client>-->

<router-outlet></router-outlet>

<!--
<div>
    <nav>
       
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/signin">Sign in</a></li>
            <li><a routerLink="/produit">Produit</a></li>
            <li><a routerLink="/livre">livre</a></li>
            <li><a routerLink="/retourlivre">retour livre</a></li>
        </ul>
    </nav>
</div>-->

